<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>EditPackageServlet</servlet-name>
        <servlet-class>com.WEB.EditPackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPackageServlet2</servlet-name>
        <servlet-class>com.WEB.EditPackageServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePackageServlet</servlet-name>
        <servlet-class>com.WEB.DeletePackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLaundryPackageServlet</servlet-name>
        <servlet-class>com.WEB.ViewPackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.WEB.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>com.WEB.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.WEB.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOTPServlet</servlet-name>
        <servlet-class>com.WEB.ValidateOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>com.WEB.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>com.WEB.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>com.WEB.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePostalCodeServlet</servlet-name>
        <servlet-class>com.WEB.ValidatePostalCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewPackageServlet</servlet-name>
        <servlet-class>com.WEB.StaffViewPackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCoverageAreaServlet</servlet-name>
        <servlet-class>com.WEB.SaveCoverageAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCoverageAreaServlet</servlet-name>
        <servlet-class>com.WEB.DeleteCoverageAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuLaundryServlet</servlet-name>
        <servlet-class>com.WEB.MenuLaundryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>com.WEB.SaveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>com.WEB.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustServlet</servlet-name>
        <servlet-class>com.WEB.DeleteCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCoverageAreaServlet</servlet-name>
        <servlet-class>com.WEB.EditCoverageAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCoverageAreaServlet2</servlet-name>
        <servlet-class>com.WEB.EditCoverageAreaServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.WEB.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrdersServlet</servlet-name>
        <servlet-class>com.WEB.NewOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderCountServlet</servlet-name>
        <servlet-class>com.WEB.NewOrderCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>com.WEB.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignStaffServlet</servlet-name>
        <servlet-class>com.WEB.AssignStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesReportServlet</servlet-name>
        <servlet-class>com.WEB.SalesReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackagePopularityReportServlet</servlet-name>
        <servlet-class>com.WEB.PackagePopularityReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCallbackServlet</servlet-name>
        <servlet-class>com.WEB.PaymentCallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPackageServlet</servlet-name>
        <url-pattern>/EditPackageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPackageServlet2</servlet-name>
        <url-pattern>/EditPackageServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePackageServlet</servlet-name>
        <url-pattern>/deletePackageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLaundryPackageServlet</servlet-name>
        <url-pattern>/ViewLaundryPackageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOTPServlet</servlet-name>
        <url-pattern>/ValidateOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/NewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePostalCodeServlet</servlet-name>
        <url-pattern>/ValidatePostalCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewPackageServlet</servlet-name>
        <url-pattern>/StaffViewPackageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCoverageAreaServlet</servlet-name>
        <url-pattern>/SaveCoverageAreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCoverageAreaServlet</servlet-name>
        <url-pattern>/DeleteCoverageAreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuLaundryServlet</servlet-name>
        <url-pattern>/MenuLaundryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/SaveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustServlet</servlet-name>
        <url-pattern>/DeleteCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCoverageAreaServlet</servlet-name>
        <url-pattern>/EditCoverageAreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCoverageAreaServlet2</servlet-name>
        <url-pattern>/EditCoverageAreaServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrdersServlet</servlet-name>
        <url-pattern>/NewOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderCountServlet</servlet-name>
        <url-pattern>/NewOrderCountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/UpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignStaffServlet</servlet-name>
        <url-pattern>/AssignStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesReportServlet</servlet-name>
        <url-pattern>/SalesReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackagePopularityReportServlet</servlet-name>
        <url-pattern>/PackagePopularityReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCallbackServlet</servlet-name>
        <url-pattern>/PaymentCallbackServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
